<div class='container p-3'>
    <div class='row border border-dark bg-light'>
        <div class='col bg-secondary text-white p-2' id='blog-title'><a href='/blog/{{id}}'>{{blog.title}}</a></div>
        <div class='col bg-secondary text-white p-2' id='username-date'>Posted by {{blog.user.username}} on {{format_date blog.date_created}}</div>
        <p class='bg-light p-3' id='blog-contents'>{{blog.contents}}</p>
    </div>
</div>

{{#if comments.length}}
<div class='container p-3'>
    <div class='row border border-dark bg-light' id='comment-form'>
        <div class='col bg-secondary p-4'>
            <h3>Comments</h3>
        </div>
        {{#each comments as |comment|}}
        <p class='bg-light p-3' id='blog-comment'>{{comment.description}}></p>
        <p class='bg-light p-3' id='commentor-date'> - {{comment.user.username}} , {{format_date date_created}}></p>
        {{/each}}
    </div>
</div>
{{/if}}

<div class='container p-3'>
    <div class='row border border-dark bg-light'>
        <div class='col bg-secondary p-4'></div>
        <form class='form-group p-3' id='comment-form' data-id='{{blog.id}}'>
            <label for='comment'>Add New Comment:</label>
            <textarea class='form-control' rows='5' id='comment'></textarea>

        <button class='btn btn-secondary btn-lg btn-block'>Submit</button>
        </form>
    </div
</div>

<script src='/js/postcomment.js'></script>